# geomloss is installed from local git submodule
-e ./geomloss
matplotlib==3.10.5
numpy==1.26.4
pandas==2.2.2
pyyaml==6.0.2
scikit-learn<1.4.0
seaborn==0.13.2
torch==2.8.0
torchvision==0.23.0
escnn>=1.0.11
tqdm==4.67.1
umap-learn>=0.5.7
pot>=0.9.6.post1
# ipykernel>=7.0.0
