experiment_name: "baseline"
seed: 42

data:
  source_img_dir: "data/source/galaxy_images_rgb" # path to source images 
  source_labels: "data/source/source_galaxy_labels.csv" # path to source labels
  target_img_dir: "data/target/gz2_images" # path to target images
  target_labels: "data/target/gz2_galaxy_labels.csv" # path to target labels
  include_rotations: false # whether to include rotated images
  shared_norm: false # whether to use shared normalization
  image_size: [224, 224] # size of input images
  batch_size: 128 # batch size for training
  val_size: 0.2 # proportion of validation data
  num_workers: 4 # number of workers for data loading

model:
  type: "resnet" # model type
  arch: "resnet18" # model architecture
  pretrained: true # use pretrained weights
  trainable_layers: 2 # number of trainable layers
  dropout: 0.3 # dropout rate

training:
  method: "baseline" # no domain adaptation 
  num_epochs: 200 # number of training epochs
  warmup_epochs: 0 # no warmup for baseline
  lr: 1e-4 # learning rate
  optimizer: "adamw" # optimizer type
  weight_decay: 1e-2 # weight decay for optimizer
  max_norm: 10.0 # max norm for gradient clipping
  lr_scheduler: "cosine" # learning rate scheduler type
  min_lr: 1e-6 # minimum learning rate
  
  # Loss Function
  criterion: "focal" # loss function type
  use_class_weights: true # whether to use class weights
  class_weight_method: "effective" # method for computing class weights
  class_weight_beta: 0.9999 # beta parameter for effective number of samples
  focal_gamma: 2.0 # gamma parameter for focal loss
  focal_alpha: "class_weights" # alpha parameter for focal loss
  focal_reduction: "mean" # reduction method for focal loss
  
  # Early stopping
  early_stopping_metric: "train_loss" # metric for early stopping
  early_stopping_patience: 10 # patience for early stopping
  
 
output:
  root_dir: "experiments"