experiment_name: "euclidean_fixed_lambda_scheduler_sigma"
seed: 42

data:
  source_img_dir: "data/source/galaxy_images_rgb"
  source_labels: "data/source/source_galaxy_labels.csv"
  target_img_dir: "data/target/gz2_images"
  target_labels: "data/target/gz2_galaxy_labels.csv"
  include_rotations: false
  shared_norm: false
  image_size: [224, 224]
  batch_size: 128
  val_size: 0.2
  num_workers: 4

model:
  type: "resnet" 

training:
  # --- Core Method ---
  method: "euclidean"
  num_epochs: 200
  warmup_epochs: 20 
  lr: 1e-3
  optimizer: "adamw"
  weight_decay: 1e-2
  max_norm: 10.0
  criterion: "focal" # "cross_entropy" | "focal"
  use_class_weights: true
  class_weight_method: "effective"
  class_weight_beta: 0.9999
  focal_gamma: 2.0
  focal_alpha: null
  focal_reduction: "mean"

  early_stopping_patience: 10
  early_stopping_metric: "train_loss"

  # --- DA Loss Specific ---
  lambda_da: 0.1
  
  sinkhorn_blur: 10.0
  sinkhorn_p: 2
  
  use_trainable_weights: true
  eta_1_init: 0.1
  eta_2_init: 1.0
  
  use_sigma_schedule: true
  sigma_schedule_type: "exponential"
  sigma_initial_blur: 10.0
  sigma_final_blur: 1.0
  sigma_min_blur: 0.1
  sigma_decay_rate: 0.95

  lambda_entropy: 0.02

  lambda_ot: 0.5
  ot_lambda_ot: 0.3
  ot_lambda_match: 0.6
  ot_lambda_topk: 0.1
  
  ot_epsilon: 0.05
  ot_n_iter: 50
  
  match_epsilon: 0.05
  match_n_iter: 20
  ot_topk: 5


output:
  root_dir: "paper_experiments"
  save_best: true
