experiment_name: "euclidean_step_trainable_sigma_train_loss_ota"
seed: 42

data:
  source_img_dir: "data/source/galaxy_images_rgb"
  source_labels: "data/source/source_galaxy_labels.csv"
  target_img_dir: "data/target/gz2_images/"
  target_labels: "data/target/gz2_galaxy_labels.csv"
  include_rotations: false
  shared_norm: false
  use_sampler: false
  image_size: [224, 224]
  batch_size: 128
  val_size: 0.2
  num_workers: 4

model:
  type: "resnet"


training:
  method: "euclidean"
  num_epochs: 200
  warmup_epochs: 20
  lr: 1e-4
  optimizer: "adamw"
  weight_decay: 1e-2
  max_norm: 10.0
  lr_scheduler: "step"
  min_lr: 1e-6
  
  # Loss function
  criterion: "focal"
  use_class_weights: true
  class_weight_method: "effective"
  class_weight_beta: 0.9999
  focal_gamma: 2.0
  focal_alpha: "class_weights"
  focal_reduction: "mean"
  
  # Early stopping
  early_stopping_patience: 8
  early_stopping_metric: "train_loss"

  lambda_da: 0.1
  sinkhorn_blur: 10.0
  sinkhorn_p: 2
  
  use_trainable_weights: true
  eta_1_init: 0.1
  eta_2_init: 1.0
    
  # entropy minimization
  lambda_entropy: 0.02
  
  # No sigma schedule
  use_sigma_schedule: true

  lambda_ot: 0.5
  
  ot_lambda_ot: 0.3
  ot_lambda_match: 0.6
  ot_lambda_topk: 0.1
  
  ot_epsilon: 0.05
  ot_n_iter: 50
  
  # matching algorithm parameters
  match_epsilon: 0.05
  match_n_iter: 20
  ot_topk: 5

output:
  root_dir: "paper_experiments"
