# --- Sinkhorn (Trainable Weights) Configuration ---
# Uses Sinkhorn distance, but instead of a fixed lambda, it learns
# the weights for the classification loss (L_CE) and DA loss (L_DA)
# automatically based on task uncertainty (Kendall et al., 2018).
# Total Loss = (1/2*eta_1^2)*L_CE + (1/2*eta_2^2)*L_DA + log(eta_1*eta_2)

experiment_name: "sinkhorn_trainable_weights"
seed: 42

data:
  source_img_dir: "data/source/galaxy_images_rgb"
  source_labels: "data/source/source_galaxy_labels.csv"
  target_img_dir: "data/target/gz2_images"
  target_labels: "data/target/gz2_galaxy_labels.csv" # This around 2568 images
  # target_labels: "data/target/gz2_galaxy_labels_master.csv" # around 6416 images
  # target_labels: "data/target/gz2_galaxy_labels_master.json" # around 20,000 images
  source_mean: [0.10848670452833176, 0.117486372590065, 0.09117863327264786]
  source_std:  [0.2009781301021576, 0.21104967594146729, 0.1836480051279068]
  target_mean: [0.04405268281698227, 0.03992829844355583, 0.032875481992959976]
  target_std: [0.0869700163602829, 0.0758928582072258, 0.07477222383022308]
  include_rotations: false
  shared_norm: false
  image_size: [28, 28]
  batch_size: 128
  val_size: 0.2
  num_workers: 4

model:
  type: "cnn"
  

training:
  # --- Core Method ---
  method: "sinkhorn"
  num_epochs: 100
  lr: 1e-3
  optimizer: "adamw"
  weight_decay: 1e-2
  max_norm: 10.0
  criterion: "focal" # "cross_entropy" | "focal"
  use_class_weights: true
  class_weight_method: "effective"
  class_weight_beta: 0.9999
  focal_gamma: 2.0
  focal_alpha: null
  focal_reduction: "mean"

  early_stopping_patience: 10
  early_stopping_metric: "train_loss" # set for "f1" , or "accuracy" in DA, or "train_loss", ce_loss", "da_loss"
  
  # --- DA Loss Specific ---
  sinkhorn_blur: 10.0 # Fixed blur
  sinkhorn_p: 2
  
  # --- Weighting Strategy ---
  # true: Learn weights eta_1 and eta_2
  use_trainable_weights: true
  # false: Use fixed blur
  use_sigma_schedule: false
  
  # --- Trainable Weights (if use_trainable_weights == true) ---
  # Initial value for eta_1 (classification loss weight)
  eta_1_init: 0.1
  # Initial value for eta_2 (DA loss weight)
  eta_2_init: 1.0

output:
  root_dir: "experiments"
  save_best: true
